*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

background:#0f172a;

color:white;

padding:25px;

text-align:center;

}

.welcome-card{

background:#1e293b;

padding:18px;

border-radius:18px;

margin-bottom:25px;

}

.logo{

font-size:40px;

margin-top:20px;

}

.subtitle{

color:#94a3b8;

margin-top:10px;

margin-bottom:30px;

}

.stats{

display:flex;

gap:15px;

justify-content:center;

margin-bottom:30px;

}

.card{

background:#1e293b;

padding:20px;

flex:1;

border-radius:18px;

}

.card h2{

font-size:28px;

color:#60a5fa;

}

.card p{

margin-top:8px;

color:#cbd5e1;

}

.buttons{

display:flex;

flex-direction:column;

gap:18px;

}

.btn{

background:#2563eb;

padding:18px;

border-radius:15px;

text-decoration:none;

color:white;

font-size:18px;

font-weight:bold;

transition:.3s;

}

.btn:hover{

background:#1d4ed8;

}

.secondary{

background:#10b981;

}

.secondary:hover{

background:#059669;

}
